docs/palette.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="colors">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="color" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="symbol" use="required">
                            <xs:annotation>
                                <xs:documentation>Single character representation of color.
Only ONE `char` is allowed.</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="." />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="value" use="required">
                            <xs:annotation>
                                <xs:documentation>Hex color codes without `#` prefix. eg: `rrggbb`
</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="^[0-9a-fA-F]{6}$" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="rgb" use="optional">
                            <xs:annotation>
                                <xs:documentation>RGB color. `r g b`, rgb in [0, 255]</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="(\d{1,3}) (\d{1,3}) (\d{1,3})" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="name" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>Color name.</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>